/* GENERAL TAGS */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
}
body {
    background-color: black;
    display: flex;
}

header {
    background-color: crimson;
    color: black;
    font-size: 50px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    left: 0;
    top: 0;
    width: 100%;
}

/* SEARCH SECTION */
#search-history-section {
    font-size: 30px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-top: 100px;
    width: 300px;
}

#search-city-span {
    background-color: crimson;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}

#search-form {
    display: flex;
    flex-direction: column;
}

#search-textbox {
    border: 5px solid black;
    color: black;
}
#search-textbox::placeholder {
    color: black;
    font-size: 15px;
}

#search-submit-button {
    color: black;
    background-color: crimson;
    font-size: 15px;
    border: 5px solid black;
    border-radius: 7px;
}

#history-subsection {
    height: 100%;
    margin-top: 50px;
}

#history-span {
    color: crimson;
    text-decoration: underline;
    padding-left: 90px;
}

/* WEATHER DISPLAY SECTION */
#weather-display-section {
    margin-top: 100px;
    border: 5px solid crimson;
    display: flex;
    flex-flow: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
}

#current-weather-subsection {
    background-color: blue;
    border-bottom: 5px solid crimson;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 200px;
}

#five-day-weather-subsection {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
    width: 100%;
    height: 100px;
}

.forecast-div {
    border: 5px solid black;
}